<form>
  <fieldset>
    <div class="input string">
      {{view Ember.TextField valueBinding="newHandle"}}
    </div>
    <button class="btn btn-success" {{action 'save' target="App.TweetersNewController"}}>Submit</button>
  </fieldset>
</form>
